@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
/*
  =============================================================#navbar
 ================================================================
   */
/* .navbar {
  background-color: black;
} */
.navbar-brand {
  font-size: 1.9rem !important;
  color: #565387 !important;
}
.navbar a {
  font-size: 1.9rem;
  text-transform: capitalize;
}
.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover {
  color: #ff0808 !important;
}

@media screen and (max-width: 992px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 1.1rem !important;
  }
  /*
  =============================================================#home page
 ================================================================ #main-landig page section
   */
  #header {
    width: 100%;
    height: 100vh;
    margin-top: 70px;
    padding: auto;
  }
  #header h3 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: rgb(218, 0, 0);
  }
  .brand-Name {
    font-size: 80px;
    font-weight: 1000;
    color: rgb(16, 30, 214);
  }
}
.btn-get-started {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-get-started:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.img-fluid {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  margin-top: 5px;
  padding: 20px 20px;
  display: flex;
  border-radius: 45px 45px 45px 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/*
  =============================================================#Service page
 ================================================================ #Card Design
   */
.cards {
  display: flex;

  align-items: flex-start;
  justify-content: center;
}
.card {
  background: #fff;
  width: 24em;
  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card img {
  width: 100%;
  object-fit: cover;
}
.card h5 {
  color: #222;
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: all ease-in 100ms;
}

.card p {
  color: #777;
}
.card-body {
  padding: 1.2em;
}
/*
  =============================================================#Contact page
 ================================================================ #Background
   */
.contactbg {
  /* background-video: url("../src/images/contact-bg2.mp4") !important; */
  height: 100vh;
  overflow-y: auto;
  background-position: center;
  /*  background-repeat: no-repeat; */
  background-size: cover;
}
#video-contact {
  position: fixed;
  z-index: -1;
  width: 100%;
}

/*
  =============================================================#Home page
 ================================================================ #Responsive Code

   */
@media (max-width: 991px) {
  #header {
    height: 80vh;
    text-align: center;
  }

  #header .header-img {
    text-aling: center;
  }
  #header .header-img img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #header {
    margin-top: 20px;
  }
  #header h1 {
    font-size: 28px;
  }
  #header h3 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img {
    width: 70%;
  }
}
